

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  header section */

/*  Naavigation Bar */

#navigation{
    display: flexbox;
    border: 2px solid black;
    background: #797070;
    width: 100vw;
align-items: center;
position:fixed;
top: 0;
}

/* Navigation Bar Logo and image styling */
.navbar img{
    height: 59px;
    border-radius: 50%;
}
.navbar{
    display: flex;
    margin: 6px 10px;
}

/* Navigation Bar : List Styling */
.navbar ul {
display: flex;
/* border: 2px solid red; */
align-items: center;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    padding: 12px 23px;
    text-decoration: none;
    color: white;
}

/* Hover Effect */
#logo:hover{
    background: rgb(195, 195, 135);
    
}


.navbar ul li a:hover{
    background: rgb(142, 128, 128);
    color:black;
    border-radius: 23px;
}


.footer a:hover{
    color: #94ad78;
    }
#footdeco a:hover{
    color:  #94ad78;
    cursor: pointer;
}

/*  searchbar */
.search{
    padding: 10px 23px;
    margin: 10px 12px;
    border-radius: 23px;
    width: 40%;
    text-align:center;
}
/* font awesome */
#cart{
    padding-left: 80px;
 
}


/*  Menu Section */

section{
    
    height: 800px;
    width: 100vw;
    /* border: 2px solid red; */
    background:rgb(226, 226, 182);   
    justify-content: center;
    padding-top: 70px;
}
#menuSec{
    display: flex;
    justify-content: center;
}


#menuSec h1{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    margin-top: 20px;
    width: 200px;
}

.menuClasses td{
    /* border: 2px solid red; */
    padding-left:37px;
}
.menuTib td{
    /* border: 2px solid red; */
    padding-left:73px;
}

.menuClasses h3{
    /* border: 2px solid red; */
    width: 200px;
    margin: 12px 23px;
    margin-left: 12%;
    display: flex;
    justify-content: center ;
}


table{
    border:2px solid black;
    width: 500px;
    margin: 0px 23px;
}

.indianCuisine{
    /* border: 4px solid yellow; */
    width: 530px;
    margin-left: 50%;
    position: absolute;
    bottom: 253px;
}

.indianCuisine h3{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 400px;
}


.indianCuisine td{
    padding-left: 63px;
}

.drinks{
    width: 530px;
    margin-left: 50%;
    position: absolute;
    bottom: 32px;
}
.drinks h3{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 400px;
}






/* Footer Section */
footer{
    border: 2px solid black;
    background: #797070;
    height: 200px;
    width: 1oovw;

}
.footer img{
    /* border: 2px solid red; */
    height: 50px;
    margin: 10px 23px;
    border-radius: 50%;
}
.footertext{
/* border: 2px solid red; */
position: absolute;
margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color: black;
}

#footdeco{
    display: flex;
    justify-content: center;
}
#footdeco a {
    padding: 4px 23px;
    text-decoration: none;
    color: white;
}

.firstfour{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.lastfour{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black;  */
}
